/*************************/
/******** header ********/
/***********************/
header{
    height: 100svh;
}
nav .container{
    border: 1px solid transparent;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: #3f3945;
}
nav .collapse a{
    transition: 0.3s linear;
}
nav .collapse .nav-item a:hover{
    color: orange !important;
    transform: rotate(5deg);
    transform-origin: left;
}
/*************************/
/********* hero *********/
/***********************/
.hero{
    height: calc(100svh - 210px);
}
.hero p img{
    border: 4px solid white;
    background: linear-gradient(10deg, #1e19294b, #2c2b2c38);
}
.carousel .container{
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 0;
    background-color: #21113881;
    backdrop-filter: blur(15px);
}
.hero .sidebar .nav-item a{
    transition: 0.3s linear;
}
.hero .sidebar .nav-item a:hover{
    color: orange !important;
    transform: scale(1.2);
}

/*************************/
/********* Work *********/
/***********************/
#work .card{
    max-width: 600px;
    height: 300px;
    background-color: transparent;
    border-radius: 15px;
}
#work .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 1s linear;
}
#work .card img:hover{
    transform: scale(1.1);
}
/*************************/
/******* Expertise ******/
/***********************/
#expertise .card{
    max-width: 280px;
    border-radius: 13px;
    border: 1px solid transparent;
    background-color: #3f3945;
    backdrop-filter: blur(15px);
    height: auto;
}
#expertise .card{
    transition: 0.3s linear;
    cursor: pointer;
}
#expertise .card:hover{
    transform: rotate(6deg);
    transform-origin: left;
}